@import './diffcom-all.css';
@import './diffcom-savebar.css';

.row {
  display: table;
  width: 100%;
  height: 100%;
}

.row>.column {
  width: 50%;
  display: table-cell;
  height: 100%;
  vertical-align:top;
}

.column-what {
  padding: 10px;
  padding-bottom: 30px;
  border-style: solid;
  border-width: thin thin 3px thin;
}

#left-prgm-col {
  border-color: transparent var(--list-border-color) transparent transparent;
}

#right-prgm-col {
  border-color: transparent transparent transparent var(--list-border-color);
}

.row {
  overflow: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  overflow: scroll;
}

.top {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: var(--main-color);
  font-family: Lato, sans-serif;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0px;
}

.back {
  float: left;
  margin-left: 30px;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.text {
  font-family: Lato, sans-serif;
  font-size: 3vw;
  padding-top: 10px;
  margin-right: 20px;
}

div.title {
  float: left;
}

div.tap {
  width: 90%;
  padding: 2px;
}

.container {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: var(--main-color);
  font-family: Lato, sans-serif;
  text-align: center;
  color: #fff;
  font-weight: bold;
  z-index: 999 !important;
}

h1 {
  margin-left: 5px;
  font-size: 48px;
  color: #fff;
}

p {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  color: #000000;
}

/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
/* icons in the rules */
mat-icon {
  font-family: 'Material Icons' !important;
}

.container mat-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  float: left;
  margin: 21px 19px 0px 24px;
}

/* how to list the rules */
/* how to list the rules */
/* how to list the rules */
/* how to list the rules */
/* how to list the rules */
/* how to list the rules */
/* how to list the rules */
/* how to list the rules */
/* how to list the rules */
/* mat-list {
  padding-top: 0 !important;
  overflow: auto;
} */

.sdiff-item .column {
  border-bottom: thin solid var(--list-border-color);
}

.sdiff-item:last-child .column {
  border-bottom: none;
}

:host /deep/ .mat-list-item-content {
  padding: 0 !important;
  display: block !important;
}

/* top & bottom selections (choosing program & saving) */
/* top & bottom selections (choosing program & saving) */
/* top & bottom selections (choosing program & saving) */
/* top & bottom selections (choosing program & saving) */
/* top & bottom selections (choosing program & saving) */
/* top & bottom selections (choosing program & saving) */
mat-label {
  font-size: 25px;
}

mat-label.top-label {
  color: var(--border-color);
  font-size: 25px;
  /* display: inline; */
  display: block;
  padding-right: 40px;
  text-align: left;
  margin: 0.75vw 2em 0.5vw auto;
}

div mat-label.top-label-for-dropdown {
  display: inline-block;
  padding-right: 0px;
  font-size: 27px;
  margin-right: 0.4em;
  width: 220px;
  vertical-align: top;
  padding-top: 0.5em;
}


.prog-radios {
  display: block;
  margin-top: 20px;
}


.color-labels {
  /* display: inline; */
  padding-top: 5px;
  /* padding-left: 15em; */
}

/* .labels-and-button {
  margin: 20px 10px;
  display:block;
} */

mat-label.save-label {
  color: var(--border-color);
  font-size: 30px;
  display: inline-block;
  text-align: left;
  padding-bottom: 0.5vw;
  padding-right: 100px;
}

.top-select-container {
  height: auto;
  justify-content: space-around;
  padding: 1vw 0px 2vw 100px;
}


/* the radiobuttons at the top */
/* the radiobuttons at the top */
/* the radiobuttons at the top */
/* the radiobuttons at the top */
/* the radiobuttons at the top */
/* the radiobuttons at the top */
/* the radiobuttons at the top */
/* the radiobuttons at the top */
/* the radiobuttons at the top */
mat-radio-button {
  height: auto !important;
  font-size: 25px;
}

:host /deep/ .mat-radio-label-content {
  padding-left: 10px;
  padding-right: 30px;
}

::ng-deep mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0.5 !important;
  /*click effect color change*/
  background-color: var(--darker-color) !important;
}

::ng-deep mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--main-color) !important;
  /*inner circle color change*/
}

::ng-deep mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--darker-color) !important;
  /*outer ring color change*/
}

/*  ================================ about rules ============================== */

.rule-icon,
.del-rule-icon,
.add-rule-icon {
  /* margin-left: 10px; */
  padding: 0 2px 0px 2px;
}

.add-remove-tags {
  position: relative;
  top: 0px;
  font-size: 28px;
  width: 10%;
  text-align: center;
}

.rule-icon mat-icon,
.del-rule-icon mat-icon,
.add-rule-icon mat-icon {
  position: relative;
  top: 0px;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

div.underneath,
div.add-underneath,
div.del-underneath,
div.mod-underneath {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  flex-wrap: wrap;
  width: 80%;
  vertical-align: text-top;
}

div.underneath.key,
div.del-underneath.key,
div.add-underneath.key,
div.mod-underneath.key {
  text-align: left;
  width: auto;
  vertical-align: baseline;
}

div.del-underneath.key {
  padding-right: 0.2em;
  font-weight: 900;
  background-color: var(--del-highlight)
}

div.add-underneath.key {
  padding-left: 0.2em;
  font-weight: 900;
  background-color: var(--add-highlight)
}

div.mod-underneath.key {
  padding-left: 0.2em;
  font-weight: 900;
  background-color: var(--mod-highlight)
}

/* =============================================*/

.del-rule-display,
.add-rule-display,
.rule-display,
.mod-rule-display,
.change-rule-display,
.del-rule-placeholder-display,
.add-rule-placeholder-display {
  padding: 3px 16px 5px 6px;
  display: block;
  height: 100%;
}

.del-rule-display {
  background-color: var(--del-background);
}

.del-rule-placeholder-display {
  background-image: repeating-linear-gradient(-45deg, #eee, #eee 12px, #fafafa 15px, #fafafa 27px);
}

.add-rule-display {
  background-color: var(--add-background);
}

.add-rule-placeholder-display {
  background-image: repeating-linear-gradient(-45deg, #eee, #eee 12px, #fafafa 15px, #fafafa 27px);
}

.mod-rule-display {
  background-color: var(--mod-background);
}

.rule-display:hover {
  background-color: var(--lighter-color);
}

.mod-rule-display:hover,
.change-rule-display:hover {
  background: antiquewhite;
}

.del-rule-display:hover {
  background: lightcoral;
}

.add-rule-display:hover {
  background: lightgreen;
}

/*-----------------------------------------------------------------------------------------*/

.rules-box {
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 280px;
  /*go with save-bar height.*/
  padding-top: 10px;
}

.border-right {
  border-right: 2px solid var(--list-border-color);
}

.if-while-then {
  background: aliceblue;
  border-bottom: 3px solid var(--list-border-color);
  padding: 3px 16px 5px 6px;
  display: block;
  height: 100%;
}

#question-button-div {
  margin: 10px;
  text-align: center;
  display: inline;
}

#question-button {
  display: inline;
  background: #00B8C0;
  /* border-radius: 50%; */
  /* background: lightskyblue; */
  font-size: 14px;
  padding: 1px 10px;
}

.loading {
  width: 110px;
  margin: 60px auto;
  font-size: 30px;
}


/* -----------for dropdown and blank right ---------------------------------- */
.sdiff-item .column.should-invisible {
  border-bottom: transparent;
  visibility: hidden;
}

.sdiff-item .column.should-invisible :first-child {
  border-bottom: transparent;
  visibility: visible;
}

.prog-dropdown {
  display: inline-block;
  /* width: 346px; */
  padding-top: 10px;
  padding-bottom: 10px;
}

:host /deep/ .prog-dropdown .mat-select {
  width: 100%;
  font-size: 2.3vw;
  padding: 0px 2px 2px 0px;
  margin-right: 0px;
}

:host /deep/ .prog-dropdown .mat-select-value-text {
  /* min-width: 350px !important; */
  font-size: 25px;
  /*selected text size*/
  float: left;
}

:host /deep/ .prog-dropdown .mat-form-field-label-wrapper mat-label {
  font-size: 24px;
}

:host /deep/ .prog-dropdown .mat-form-field-wrapper {
  padding-top: 0px;
  background: whitesmoke;
  border-radius: 20px;
  border-width: 10px;
  border-right: 20px solid whitesmoke;
  border-left: 20px solid whitesmoke;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 10px;
  padding-bottom: 0em;
  height: 3vw;
}

:host /deep/ .prog-dropdown mat-form-field {
  padding-right: 20px;
}

:host /deep/ .prog-dropdown .mat-form-field-type-mat-select .mat-form-field-label {
  top: 30px;
}

:host /deep/ .prog-dropdown .mat-form-field-underline {
  height: 1.2px;
  visibility: hidden;
}

:host /deep/ .prog-dropdown .mat-form-field-underline .mat-form-field-ripple {
  display: none;
}

:host /deep/ .prog-dropdown .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid;
  margin: 0 4px;
}

.none-option-text {
  color: gray;
}

:host /deep/ .prog-dropdown mat-select.selecting-invalid .mat-select-value-text {
  color: gray;
}

.fake-rule-display {
  padding: 3px 16px 5px 6px;
  display: block;
  height: 100%;
}

/* -----------for dropdown and blank right END ---------------------------------- */
